---
import Layout from '@/layouts/Layout.astro'

const metadata = {
  title: 'Astro',
  description: 'Astro Template',
}
---

<Layout title={metadata.title} description={metadata.description}>
	<main>
		Astro Template
	</main>
</Layout>
